<ion-view view-title="Text Search">
  <ion-content class="padding">
    <div id="search-bar" class="bar bar-header item-input-inset">
      <label id="search-box" class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search.searchParam">
      </label>
      <button id="search-start-button" ng-show="!fetching" class="button button-balanced" ng-click="doSearch()">
        <i class="icon ion-ios-play placeholder-icon"></i>
      </button>
      <button id="search-stop-button" ng-show="fetching" class="button button-assertive" ng-click="interrupt()">
        <i class="icon ion-stop placeholder-icon"></i>
      </button>
    </div>

    <div id="sort-filter-bar" class="button-bar">
      <button class="button button-full button-dark" ng-click="openFilterModal()">
        <i class="icon-left ion-funnel"></i>
      </button>
      <button class="button button-full button-dark" ng-click="openSortModal()">
        <i class="icon-left ion-arrow-swap"></i>
      </button>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="video in filteredResults" type="item-text-wrap">

        <div class="list card">

          <div class="item item-avatar">
            <h2>{{video.title}}</h2>
            <p>{{video.created | date:'MM-dd-yyyy'}}</p>
            <p><a href="#" class="subdued">{{video.duration}}</a></p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{video.thumbnail.url}}">
            <p>
              {{video.description + '...'}}
            </p>
            <p>
              <a href="#" class="subdued">{{video.likes + ' Like'}}{{video.likes > 1 ? 's' : ''}}</a>
              <a href="#" class="subdued">{{video.dislikes + ' Dislike'}}{{video.likes > 1 ? 's' : ''}}</a>
            </p>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
