<ion-view view-title="Text Search">
  <ion-content class="padding">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search.searchParam">
      </label>
      <button ng-show="!fetching" class="button button-balanced" ng-click="doSearch()">
        Search
      </button>
      <button ng-show="fetching" class="button button-assertive" ng-click="interrupt()">
        Stop
      </button>
    </div>

    <div class="button-bar">
      <button ng-disabled="fetching" class="button button-full button-positive" ng-click="openPreSearchModal()">
        <i class="icon-left ion-funnel"></i>Pre-Search Filter
      </button>
      <button class="button button-full button-positive" ng-click="openPostSearchModal()">
        <i class="icon-left ion-funnel"></i>Post-Search Filter
      </button>
    </div>
    <div class="button-bar">
      <a class="button button-dark icon-left ion-ios-cog" ng-click="openSortModal()">Sort by: {{sortObject.displayName}}</a>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="video in filteredResults" type="item-text-wrap">

        <div class="list card">

          <div class="item item-avatar">
            <h2>{{video.title}}</h2>
            <p>{{video.created | date:'MM-dd-yyyy'}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{video.thumbnail.url}}">
            <p>
              Maybe the video description can go here
            </p>
            <p>
              <a href="#" class="subdued">{{video.likes + ' Like'}}{{video.likes > 1 ? 's' : ''}}</a>
              <a href="#" class="subdued">{{video.dislikes + ' Dislike'}}{{video.likes > 1 ? 's' : ''}}</a>
              <a href="" class="dubdued">{{video.duration}}</a>
            </p>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
